!set sizex=65

!set types=!nonempty lines $types
!set typelist=!column 2 of $types
!set typenames=!column 1 of $types
$name_content
<span class="wims_mod_title">$oef_title</span>.
!set wims_ref_class=wims_button
!href cmd=reply&level=1 $name_menuback


!form reply
<input type="hidden" name="level" value="3" />
$name_alea [
!href target=wims_mhelp cmd=help&special_parm=parameters $wims_name_Explanations
 ]<br />
!set o_parms=!reinput $oef_parms
<textarea class="nowrap" rows="6" cols="$sizex" name="oef_parms">$o_parms</textarea>
<div>
$name_statement ($oef_format)&nbsp;: [
!href target=wims_mhelp cmd=help&special_parm=format $wims_name_Explanations
 ]<br />
!set o_statement=!reinput $oef_statement
<textarea class="nowrap" rows="6" cols="$sizex" required="required" name="oef_statement">$o_statement</textarea>
</div>
!if $oef_answercnt>0
$table_header
 <caption>$name_free</caption>
$table_tr<th>$wims_name_name</th><th>$name_goodsol</th><th>$wims_name_Type</b>
 !set wims_ref_class=wims_button_help
 !href target=wims_mhelp cmd=help&special_parm=reply#freestyle $wims_name_help
 </th></tr>
 !for i=1 to $oef_answercnt
  !default anstype$i=default
  !set p_=!reinput $(ansprompt$i)
 $table_tr<td><input size="$[$promptlim-3]" maxlength="$promptlim" name="ansprompt$i" required="required" value="$p_" />
  !set p_=!reinput $(ansgood$i)
  </td><td> <input size="30" name="ansgood$i" value="$p_" /></td>
  <td class="small">
  !formselect anstype$i list $typelist prompt $typenames
  </td></tr>
 !next i
 $table_end
 <p>
 $name_precision:
 !formselect oef_precision list 100,1000,10000,100000,1000000 prompt 1/100,1/1000,1/10 000,1/100 000,1/1 000 000
 <br />$name_function
 (&nbsp;<input size="6" name="oef_rangel" value="$oef_rangel" />,<input size="6" name="oef_ranger" value="$oef_ranger" />&nbsp;).
 </p>
!endif

!if $oef_condcnt>0
 $table_header
 <caption>$name_condition_numeric,</caption>
 $table_tr<th>$name_name_condition</th><th>$name_definition</th></tr>
 !for i=1 to $oef_condcnt
  !set p_=!reinput $(Condname$i)
   $table_tr<td><input size="$promptlim" maxlength="$promptlim" name="Condname$i" value="$p_" /></td>
  !set p_=!reinput $(Condtest$i)
  <td> <input size="40" name="Condtest$i" value="$p_" /></td></tr>
 !next i
$table_end
!endif

!if $oef_choicecnt>0
 $table_header
 <caption>$name_multiple</caption>
  $table_tr<th>$wims_name_name</th><th>$name_goodchoice</th><th>$name_badchoice</th></tr>
 !for i=1 to $oef_choicecnt
  !set p_=!reinput $(choiprompt$i)
 $table_tr<td> <input size="$promptlim" maxlength="$promptlim" name="choiprompt$i" value="$p_" /></td>
  !set p_=!reinput $(choigood$i)
  <td> <input size="10" name="choigood$i" value="$p_" /></td>
  !set p_=!reinput $(choibad$i)
  <td> <input size="30" name="choibad$i" value="$p_" /></td></tr>
 !next i
 $table_end
!endif

<div class="wimscenter">
<input type="submit" value="$name_sendsource" />
</div>
$name_option

<ul><li><label for="oef_hint">$name_indication</label> (html)
!set pp=!reinput $oef_hint
<textarea class="nowrap" rows="3" cols="$[$sizex-10]" name="oef_hint" id="oef_hint">$pp</textarea>
</li><li><label for="oef_solution">$name_solution</label> (html)
!set pp=!reinput $oef_solution
<textarea class="nowrap" rows="3" cols="$[$sizex-10]" name="oef_solution" id="oef_solution">$pp</textarea>
</li></ul>

!formend

