<fieldset class="wims_work_legend float_right">
  <legend align="right">$wims_name_legend:</legend>
  <ul class="inline">
    <li class="wims_doc_item">$wims_name_Docs</li>
    <li class="wims_sheet_item">$wims_name_Sheets</li>
    <li class="wims_exam_item">$wims_name_Examens</li>
    <li class="wims_vote_item">$wims_name_Votes</li>
    <li class="wims_tool_item">$wims_name_tools</li>
    <li class="wims_glossary_item">$wims_name_Glossaries</li>
  </ul>
</fieldset>
