!read adm/title.phtml 3\
\
$wims_name_classtest

!read connect/remote.phtml
<p>
$name_check: $connclass.
!if $error!=$empty
  !set wims_ref_class=wims_button wims_warning
  !href cmd=reply&job2=del1 $wims_name_erase
  !exit
!endif
</p>

<p>
$name_data
</p>

<pre>
$cn_data
</pre>
!set wims_ref_class=wims_button
!href cmd=reply&job2=mod1 $wims_name_properties
&nbsp;
!set wims_ref_class=wims_button wims_warning
!href cmd=reply&job2=del1 $wims_name_erase
