!read adm/title.phtml 3\
$name_delprogram0 <em>$class_description</em>

!if $class_recshare=main
  $name_warning_share
  !href cmd=reply&job=$job $wims_name_giveup
  !exit
!endif

!read lang/warning.phtml.$moduclass_lang delprog

<div class="wimscenter">
  !set wims_ref_class=wims_button wims_warning
  !href cmd=reply&job=$job&del=$del&confirm=yes $wims_name_yes
  $
  !set wims_ref_class=wims_button wims_secondary_button
  !href cmd=reply&job=level&level=$level $wims_name_no
</div>
