<!-- _widgets/supervisordoc.phtml -->
!set listc=!filelist $wims_home/log/classes/$wims_class/doc
!set listc=!replace internal c by in $listc
!set listc=!lines2items $listc
!set listc=!sort numeric items $listc

!for i=1 to $doccnt
  !set sh=!record $(wims_sort_order[$i]) of wimshome/log/classes/$wims_class/doc/.index
  !distribute lines $sh into s_,t_,bidon,bidon,bidon,o_
  $table_tr
   <td class="wims_doc_item">$wims_name_doc $s_</td>
   <td>
  !href module=adm/doc&job=read&doc=$s_&block=main $t_
   </td>
  !if $seq_open=yes
    !read themes/_procs/supervisorseq.proc c,$o_
  !endif
   <td class="wims_doc_status_$o_">
    !item $[$o_ +1] of $wims_name_Docstatus
   </td><td>
    !set wims_ref_class=wims_button
    !href module=adm/doc&job=prop&doc=$s_ $wims_name_change
   </td>
  </tr>
!next i
<!-- end _widgets/supervisordoc.phtml -->
