
!form reply
  <fieldset class="property_fields blockcenter">
  <legend>$name_find2</legend>
  <div class="field box">
!!    !reset job
  !formselect job list work,todo prompt $name_done,$name_todo
  $name_between
  !if $jquery_defined!=yes
	!let v=!values v for v=1 to 31 	 
	!let creyear=!char 1 to 4 of $class_creation 	 
	!let expyear=!char 1 to 4 of $class_expiration 	 
	!if $(cdt_ltmonth)!=$empty 	 
		!let tmp=!sort numeric item of $(cdt_ltmonth) 	 
		!let miny=!char 1 to 4 of $(tmp[1]) 	 
	 	!let creyear=$[min($miny,$creyear)] 	 
		!let maxy=!char 1 to 4 of $(tmp[-1]) 	 
	 	!let expyear=$[max($expyear,$maxy)] 	 
	!endif 	 
	!read adm/lang/datemenu.phtml.$moduclass_lang 1,jday,jmonth,jyear
	$name_and
  	!distribute item 0,0,0 into jyear2,jday2,jmonth2 	 
	!let v1=!values v for v=$creyear to $expyear 	 
	!read adm/lang/datemenu.phtml.$moduclass_lang 4,jday2,jmonth2,jyear2
  !else
	!let jdate=$jyear$jmonth$jday
   	!read adm/datepickerform.phtml $(jdate)\
jdate\
"$class_creation","$class_expiration"
  $name_and
	!let jdate2=$jyear2$jmonth2$jday2
   	!read adm/datepickerform.phtml $(jdate2)\
jdate2\
"$class_creation","$class_expiration"
  !endif
  <div class="formHelp">$name_warning1</div>
  </div>
  <div class="wimscenter"><input type="submit" value="$name_find" /> </div>
</fieldset>
!formend

!if $wims_user=supervisor and $cdt_supervise=yes
 !set wims_menu_items= !append line adddate,1,cmd=new&job=adddate\
 addfile,1,cmd=reply&job=file\
 addtodo,1,cmd=new&job=addtodo\
 config,1,cmd=reply&job=config\
 to $wims_menu_items
!endif

!if ($job isitemof home,todo or work isin $job and $jour_begin!=$empty) and $cdt_nbdate<$max_defaffi
  !set wims_menu_items=!append line back2,1,cmd=new&job=home to $wims_menu_items
!endif
