!read oef/default
!form reply
<fieldset class="property_fields blockcenter">
  <legend>$title</legend>
  <div class="field box">
    <label for="nw_qnum">$name_series</label>
!set nw_qnum=$user_qnum
!set nw_qnum=$(default_choice[1])
!formselect nw_qnum from 1 to 9
$wims_name_exercises.
</div>
  <div class="field box">
 <label for="nw_scoredelay">$name_chrono </label>
 <input size="7" name="nw_scoredelay" id="nw_scoredelay" value="$user_scoredelay" /> $name_secondes.
<div class="formHelp">$name_warning</div>
</div>
</fieldset>
<fieldset class="property_fields blockcenter">
<legend>$name_simplifiedmenu</legend>
<div class="field box">
 <label for="nw_qcmlevel">$name_severity</label>
!set nw_qcmlevel=$user_qcmlevel
!default nw_qcmlevel=$(default_choice[2])
!formselect nw_qcmlevel from 1 to 9
</div>
</fieldset>
 <fieldset class="property_fields blockcenter">
<legend>$name_expertmenu</legend>
!let tmp=!replace word expert by $ in $special_parm2
!set nw_sepow=$user_sepow
!set nw_expow=$user_expow
!set nw_precw=$user_precw
!default nw_sepow=$(list_sepow[1])
!default nw_expow=$(list_expow[1])
!default nw_precw=$(list_precw[1])
!set powercnt=!itemcnt $list_expow
!for j=1 to $powercnt
  !set name_prompt_expower2=!append item $(name_prompt_expower[$j]) ($(list_expow[$j])) to $name_prompt_expower2
  !set name_prompt_sepower2=!append item $(name_prompt_sepower[$j]) ($(list_sepow[$j])) to $name_prompt_sepower2
!next
  <div class="field box">
  <strong>$name_expower</strong>
  <div>
!set wims_ref_class=wims_formradio
!formradio nw_expow list $list_expow prompt $name_prompt_expower2
  </div>
  </div>
  <div class="field box">
  <strong>$name_sepower</strong>
    <div>
!set wims_ref_class=wims_formradio
!formradio nw_sepow list $list_sepow prompt $name_prompt_sepower2
  </div>
  <div class="formHelp">$name_warning_pow</div>
  </div>
  <div class="field box">
  <strong>$name_precweight</strong>
!set wims_ref_class=wims_formradio
!formradio nw_precw list $list_precw
  <div class="formHelp">
    $name_help_precweight
    </div>
  </div>
<div class="field box">
!set wims_ref_class=wims_formradio
!set nw_givegood=$user_givegood
!default nw_givegood=$(default_choice[6])
 <strong>$name_prompt3</strong>
 <div>
!formradio nw_givegood list 0 prompt $(name_choice[1])
    $(name_tries[1])
!formradio nw_givegood from 1 to $limit_version
    $(name_tries[2])
</div>
<div class="formHelp">$name_help_givegood</div>
</div>
<div class="field box">
 <strong>$name_solutiongiven</strong>
!set nw_givesol=$user_givesol
!default nw_givesol=$(default_choice[3])
<div>
!formradio nw_givesol list 0 prompt $(name_choice[1])
  $(name_tries[1])
!formradio nw_givesol from 1 to $limit_version
  $(name_tries[2])
</div>
</div>
<div class="field box">
 <strong>$name_feedgiven</strong>
!set nw_givefeed=$user_givefeed
!default nw_givefeed=$(default_choice[3])
<div>
!formradio nw_givefeed list 0 prompt $(name_choice[1])
  $(name_tries[1])
!formradio nw_givefeed from 1 to $limit_version
  $(name_tries[2])
</div>
</div>
<div class="field box">
!set wims_ref_class=wims_formradio
!set nw_givehint=$user_givehint
!default nw_givehint=0
 <strong>$name_prompt4</strong>
 <div>
!formradio nw_givehint list 0 prompt $(name_choice[1])
    $(name_tries[1])
  !formradio nw_givehint from 1 to $limit_version
    $(name_tries[2])
 </div></div>
    <strong>$name_qcm</strong>
    <div class="field box">
     <label for="nw_qcmpresent">$name_qcmanswer</label>
!set nw_qcmpresent=$user_qcmpresent
!default nw_qcmpresent=$(default_choice[4])
!formselect nw_qcmpresent list 2,3,4,5,6,7,8
  </div>
    <div class="field box">
!set wims_ref_class=wims_formradio
!set nw_check1=!listintersect $user_check and 1
!default nw_check1=0
$name_prompt1
!formradio nw_check1 list 1,0 prompt $wims_name_yes,$wims_name_no
!set wims_ref_class=wims_formradio
</div>
<div class="field box">
!set nw_check2=!listintersect $user_check and 2
!default nw_check2=0
 $name_prompt2
!formradio nw_check2 list 2,0 prompt $wims_name_yes,$wims_name_no
   </div>
   </fieldset>
  <div class="wimscenter wimsform">
   <input type="submit" value="$wims_name_tosave" />
   <input type="hidden" value="1" name="step" />
  </div>

!formend

<div class="formHelp">
  $name_remarkseverity
!read oef/helpseverity
!read oef/helppenality
 </div>
