!! intromenu_choices : setup the parameters for \choice instructions
<fieldset class="oef_expert property_fields blockcenter">
  <legend>$name_qcm</legend>
!default intro_qcmpresent=$(default_choice[4])
  <div class="field">
    <label for="intro_qcmpresent">$name_qcmanswer: </label>
!set wims_ref_class=wims_formradio
!formselect intro_qcmpresent list 2,3,4,5,6,7,8
    <div class="formHelp">$name_qcmanswer_help</div>
  </div>

  <div class="field">
!set wims_ref_id=introcheck1
!formcheckbox intro_check list 1 prompt $(name_choice_check[1])
  </div>

  <div class="field">
!set wims_ref_id=introcheck2
!formcheckbox intro_check list 2 prompt $(name_choice_check[2])
  </div>
</fieldset>
