!nocache
<!-- Begin present.phtml-->
 <div class="oefform" id="oefform">
!if $status=waiting and $cmd!=hint and $hasembedding=yes
  !form reply name="replyform" onsubmit="return formcheck();" autocomplete="off" id="a_oefform"
  !set q_form=yes
!else
  !set m_status=end
!endif

<div class="oefstatement">
!if $format=tex
 <div class="oef_tex_format" style="text-align:center">
  !if $question_url=$empty or $cmd=resume
    !set quest_=!replace &#36; by $$$$ in $question
    !set wims_texsize=1
    !instex \narrower\narrower {\bf $name_exo} $quest_
    !set wims_texsize=0
    !set question_url=$ins_url
  !else
  <img src="$question_url" alt="question" />
  !endif
 </div>
!endif

!if $format=html or $format=

  !if $executed_str!=$question or $oef2wims_version<3.10
    $question
  !else
    !read $deffile question

    !if $credits!=$empty and .. notin $credits and \ notin $credits \
        and ($wims_user iswordof supervisor or $wims_user=$empty)
      !set credits=!replace internal < by &lt; in $credits
      <div class="wims_credits"><cite>$credits</cite></div>
    !endif
  !endif
!endif

!if $plot_fn!=$empty
  <p style="text-align:center" class="oef_plot_fn">
  !insplot $plot_fn notitle
 </p>
!endif
<!-- end of "oefstatement" -->
</div>
<br class="clearall" />

<!-- End Present.phtml-->
