<h2 class="wimscenter">CSS</h2>

!set a=!record 0 of wimshome/public_html/bases/sys/css_classes
!set a=!nonempty lines $a
!set acnt=!linecnt $a

<table class="wimsborder wimscenter">
!for j = 2 to $acnt
!set aa=!line $j of $a
!if $(aa[1])!=$empty and $(aa[2])!=$empty
  <tr><th>$(aa[1])</th><td>$(aa[2..-1])</td></tr>
!endif
!next
<tr><th><span class="wims_color1">color1</span></th><td>theme style for menu</td></tr>
<tr><th><span class="wims_color2">color2</span></th><td>theme style for button</td></tr>
<tr><th><span class="wims_color3">color3</span></th><td>theme style for help button</td></tr>
</table>
