
!read lang/names.phtml.$moduclass_lang
!read adm/class/classname.phtml $wims_classname\
$wims_institutionname
!set module_title_lang=!module title_$lang
!default module_title_lang=$module_title
!read adm/css.phtml
!if $cmd=help
  !header
  !changeto help.phtml
!endif
!set js=!record 0 of js/chooselist.js
!set wims_html_header=!append line $js to $wims_html_header
!set wims_html_header=!append line \
<style type="text/css">\
.activity_title { text-align:left; font-weight:bold; font-style:italic;}\
</style>\
to $wims_html_header
!header1
!read adm/title.phtml 1\
$classname\
$(module_title_lang)

!if $error!=$empty
  <div class="wims_msg alert">
  !read lang/msg.phtml.$moduclass_lang
  </div>
  !set wims_menu_items=!append line back,1,\
to $wims_menu_items
  !goto end
!endif

!read $job.phtml

:end
!reset parmuser1 parmuser2
!if $user!=$empty
  !set parmuser1=&job=getuser&getuser=$user
  !set parmuser2=&job=user&user=$user
  !distribute items scores,livret1 into sc,li
!else
  !distribute items Score1,livret into sc,li
!endif

!set wims_menu_items=!append line itemsep,0,$wims_name_Evaluation $user\
$sc,1,module=adm/class/userscore$parmuser1\
$li,1,module=adm/class/livret$parmuser2\
 to $wims_menu_items
!tail

!reset show
