
$table_header
<caption>$wims_name_doc <b>$doc</b></caption>
$table_tr<th>$wims_name_title</th><td>$tit</td>
$table_tr<th>$wims_name_Author</th><td>$author</td></tr>
!if @ isin $email
  <tr><th>$wims_name_email</th><td>
  !mailurl $email
  </td></tr>
!endif
!if class != $doctype
  $table_tr<th>$wims_name_Copyright</th><td>
  !if $copyright iswordof gnu opl
    !if $copyright=gnu
      <a href="fdl.txt">GNU Free Documentation License</a>
    !endif
    !if $copyright=opl
      <a href="opl.html">Open Publication License</a>
    !endif
  !else
    $n_copyright2
  !endif
  </td></tr>
!endif
$table_end
</div>
