
!if class != $doctype and $wims_ismanager<2 and $doc iswordof $openlist
  <div>
  !read lang/names.phtml.$modu_lang erase1
  </div>
  !exit
!endif

<div>
!read lang/names.phtml.$modu_lang erase2
</div>
<div class="wimscenter">
!href cmd=reply&rEg=yes $wims_name_yes
 &nbsp; &nbsp;
!href cmd=new&job=home $wims_name_no
</div>

