!default help_subject=$special_parm

!if $help_subject!=$empty
  !read help/$help_subject.phtml
  !reset help_subject
  !tail
  !exit
!endif
!headmenu
<h1 class="wims_docu_title">$module_title<br />
<span class="small">--- $n_authorhelp ---</span></h1>

!href cmd=reply&doc=$helpd&block=main&job=read $n_help2
.
!tail
