!read adm/title.phtml 1\
$classname\
$wims_name_delprep


<p>
$name_delete
</p>
<p class="wimscenter wimsemph">
!set wims_ref_class=wims_button wims_warning
!href cmd=reply&job=deluser&deluser=$delprep $wims_name_yes
 $
!set wims_ref_class=wims_button
!href cmd=reply $wims_name_no
</p>
