!form reply

<fieldset class="property_fields halfwidth blockcenter">
   <legend>$wims_name_connexion</legend><div class="field box">
    <label for="auth">$name_admpasswd</label>
    <input size="24" type="password" name="auth" id="auth"/>
   </div>
   <div class="wimscenter wimsform">
    <input type="submit" value="$wims_name_tosave" />
   </div>
</fieldset>

!formend
