/** Default widget_boxes style */

.wims_widget_box {
  margin: 5px;
}

.wims_widget_box .title_box {
  border-radius: 5px 5px 0 0 ;
  border: 1px solid #BBB;
  border-bottom-width: 0;
  margin: 0;
  padding: .5em;
}

.wims_widget_box .title_box h1,
.wims_widget_box .title_box h2,
.wims_widget_box .title_box h3  {
  margin-top: 2px;
  margin-bottom: 0;
}

.wims_widget_box .title_box .wims_title {
  /* Text shadow for light text on dark background */
  /*text-shadow: -1px -1px 1px rgba(0, 0, 0, .5), 1px 1px 1px rgba(0, 0, 0, .5);*/
}

.wims_widget_box .box_content {
  display: block;
  background-color: #fff;
  margin: 0;
  padding: .5em;
  clear: both;
  /*text-align: center;*/
  border: 1px solid #BBB;
  border-radius: 0 0 5px 5px ;
  min-height: 6em;
  box-sizing: border-box;
}


/* Small screens */
@media only screen and (max-width: 40em) {
  .medium_size {
    margin: 5px;
    float:none;
  }
}

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium_size {
    /*width:100%;*/
    width:50%;
    /*max-width: 40em;*/
    margin: 5px auto;
  }
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
  .medium_size {
    width:50%;
    /*float: left;*/
    margin: 0;
    padding: .5em;
    box-sizing:border-box;
  }
}
