/***********************
   WIMS CLASSES STYLES
************************/
.wims_class_motd, .wims_class_pmotd {
   margin:5pt;
   padding: 10pt;
   border: thin solid black;
}

.wims_classes_direct {
   padding-top: 2px;
   padding-right: 2px;
   padding-bottom: 2px;
   padding-left: 2px;
   margin-bottom:5px;
   text-align:center;
}
.wims_classes_direct_portal, .wims_classes_direct_program,.wims_classes_direct_class,
  .wims_classes_direct_course, .wims_classes_direct_level, .wims_classes_direct_testclass{
   border-style: solid;
   border-width:thin;
   border-left-width:.55rem;
   padding-left:2px;
   padding-right:2px;
   margin-top:0;
}

.wims_classes_direct_type { color:#A52A2A; }
.wims_classes_direct_portal { border-color:lightgrey;}
.wims_classes_direct_program { border-color:#4E6;}
.wims_classes_direct_course { border-color:#C9F;}
.wims_classes_direct_class { border-color:#9CF;}
.wims_classes_direct_level { border-color:#CFF;}

.wims_classes_direct_name {
   padding: 5pt;
   border-bottom: 1px solid gray;
   overflow: scroll;
}

.wims_subclasses li {
   list-style:none;
   padding-top: 3pt;
   padding-right: 0;
   padding-bottom: 0;
   padding-left: 3pt;
   margin-top: 3pt;
   margin-right: 5pt;
   margin-bottom: 5pt;
}
.wims_subclasses li:before {
    content: "\2192 \0020";
    font-size: 100%;
}

.wims_classes_direct_group,
.wims_subclasses .class,
#wims_class_manager_msg {
   background-color:#CFF;
}
.wims_subclasses .program {background-color:#9FC;}
.wims_subclasses .course {background-color:#C9F;}

.wims_user_table {
   margin-left:2%;
   padding-top: 5pt;
   border-bottom: 1px solid gray;
   overflow: scroll;
   border-spacing:0;
}
.wims_user_sheet_table,
.wims_user_doc_table,
.wims_user_docp_table,
.wims_user_vote_table {
   width:75%;
   margin-left:2%;
   padding:5pt;
   border-bottom: 1px solid gray;
   border-left: 2px solid gray;
   overflow: scroll;
   margin-right:auto;
}
.wims_user_exam_table {
   width:75%;
   margin-left:2%;
   padding-top: 5pt;
   border-bottom: 1px solid gray;
   border-left: 2px solid gray;
   overflow: scroll;
}

.wims_user_sheet_score {
   color:#A52A2A;
   white-space:nowrap;
}
.wims_user_sheet_type, .wims_user_exam_type {
   white-space:nowrap;
   font-weight: bold;
}

tr.wims_user_sheet,
tr.wims_user_vote{
   text-align:left;
}

tr.wims_user_doc,
tr.wims_user_docp {
   text-align:left;
   white-space:nowrap;
}

td.wims_user_doc_type {width:120px;}
tr.wims_user_exam {text-align:left;}


td.wims_user_vote_type {
   text-align:left;
   white-space:nowrap;
   width:120px;
}

table.wims_user_table {
   background-color: transparent;
   padding: 5pt;
   border-bottom: 1px solid gray;
   overflow: scroll;
}

.wims_user_myscore {
   background-color:#FFF;
   text-align:left;
   padding-top: 5pt;
   padding-right: 10pt;
   padding-bottom: 10pt;
   padding-left: 10pt;
   border-bottom: 1px solid gray;
   border-left: 3px solid gray;
   width:100%;
}

/* WIMS status (for sequences, sheets and exams)*/
.wims_status{
   padding: 2px .5em;
   border-style: solid;
   border-width: 1px;
   background-color: #FFF;
}
/* Status 0 = hidden or work in progress */
.wims_status_0, .wims_doc_status_0, .wims_status_3{
   color: #666;
   font-style: italic;
}
.wims_status.wims_status_0, .wims_status.wims_status_3{
   border-style: dashed;
}
/* Status 1 = visible or active */
.wims_status_1, .wims_doc_status_1{color: green}
/* Status 2 = expired */
.wims_status_2, .wims_doc_status_2, .wims_status_3{color: orangered}
/* Status 3 = expired & hidden */
/*.wims_status_3{}*/

/** Documents status **/
/* doc status 0 = can't read or write */
/*..wims_doc_status_0{}*/
/* doc status 1 = can read but not write */
/*.wims_doc_status_1{}*/
/* doc status 2 = can read and write */
/*.wims_doc_status_2{}*/


ul.wims_user_doc, ul.wims_user_docp, ul.wims_user_vote {
   list-style:none;
   padding:0.5em;
}

.wims_user_doc .wims_user_info {
 margin-left:30%;
}

.wims_user_doc li, .wims_user_docp li, .wims_user_vote li {
	padding:1em;
	border:1px solid gray;
	background-color: #FDFDFD;
	border-radius: 5px;
	margin: 3px;
	display: inline-block;
	width:45%;
}
