/* classes pour menu*/
.ui-menu {font-size: 80%;}

/*hotfix for jquery-ui 1.12.0 when there is no "div" inside .ui-menu-item*/
.ui-menu-item>a{
  display:block;
}
/* classes pour latex2wims : latex2wims , latex2wimsl, latex2wimsr, latex2wimslr
according no toc, toc left, right, two sides */
.doc_latex2wims .wimsdoc,
.doc_latex2wimsl .wimsdoc,
.doc_latex2wimsr .wimsdoc,
.doc_latex2wimslr .wimsdoc{
   display:block;
   /*margin-left: 0;
   margin-right: 0;*/
   padding-top: 0;
   padding-right: 1em;
   padding-bottom: 0;
   padding-left: 1em;

 /*border: solid #FC9;
   border-width: 1px;
   border-color: gray;
   min-height: 300px;*/
   line-height: 1.1;
   overflow: auto;
}
.doc_latex2wimsl .left_toc,.doc_latex2wimslr .right_toc,
.doc_latex2wimslr .left_toc,.doc_latex2wimsr .right_toc {
  display: inline-block;
  vertical-align:top;
  padding: 0;
  padding-top: 0;
}

#docprint .doc_latex2wimsl  .left_toc,
#docprint .doc_latex2wimsr  .right_toc,
#docprint .doc_latex2wimslr .left_toc,
#docprint .doc_latex2wimslr .right_toc
{visibility:hidden; display:none;}

/*Pour mettre en relief l'endroit du menu*/
.left_selection,.right_selection {
  padding:0em;
  border: solid;
  border-width: thin;
  border-color:#000;
  background-color:#FC9;
}
.no_selected {
  padding:0em;
  border: solid;
  border-width: 1px 0 0 0;
  border-color:#000;
}
/*Pour les menus lateraux, la gestion des liens*/
/*.left_toc a,.right_toc a {}*/
/* the h3 are for compatibility */
 h3.wims_docu_titleb,h2.wims_docu_titleb
 { text-align:center;}
/* menu en haut ou en bas*/
.wims_chemin {
/*Pour mettre en relief l'endroit des menus*/
   color: #A52A2A;
   margin: .3em;
   padding:.7em;
   border-width: thin;
   font-size: 80% ;
   text-align: center;
}
.l2w_content{
  /* prevents toc with float from overleaping divs */
  overflow: auto;
}

h2.l2w_content, h3.l2w_content {
 font-size: 100%;
 margin-bottom:0;
 padding:3px;
}
div.l2w_content {
  background-color: #fafafa;
  padding: .3em;
  margin-left:0.5em;
  border:solid;
  border-width: thin;
  border-color:#FCF;
}
span.l2w_content {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: none
}
/* divers */
.emph {
  font-weight: bold;
  font-family: sans-serif;
  color: #f60;
}
.guill {
  font-weight: bold;
  font-family: sans-serif;
  color: #aeaeae;
}
div.math {
  padding: .5em;
  margin: 0 5%;
  text-align: center;
}
h2.exercice, h2.exemple, h3.exercice, h3.exemple {background-color: #CFC;}
span.exemple {color: #003; }
span.exercice { color: #006; }
h2.defn, h3.defn{ background-color: #CCF}
span.defn { color: #663; }
h2.thm, h3.thm{ background-color: #FCF; }
span.thm, span.rem { color: #930;}
h2.dem, h3.dem {
 background-color:#FFC;
 font-size: 100%;
 padding-left: 1em;
 padding-right: .3em;
 }
div.dem {
  background-color: white;
  padding: .3em;
  margin-left:0.5em;
  border-left:solid;
  border-width: thin;
  border-color:#FCF;
  color: black;
}
span.dem {
  color: #006;
  font-family: sans-serif;
  font-weight: bold;    }
div.dem::after{
    /*background-color:lightgrey;*/
    border:solid;
    border-width:0.2em;
    border-color:black;
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    float:right;
    margin-bottom:15px;
}
.fin {visibility:hidden; display:none}
h2.quote, h3.quote{
 background-color: #0F0;
 font-size: 100%;
 padding-left: .3em;
 padding-right: .3em;
 }
div.quote {
  padding: 0.5em;
  margin: 0 7% 0 .5em;
  background-color:white;
}
span.quote { color:blue;}
h2.rem, h3.rem {
 background-color: #F90;
 font-size: 100%;
 padding-left: .3em;
 padding-right: .3em;
 }
div.rem {
  background-color: white;
  padding: .5em;
  margin-left: 0.5em;
  border:solid;
  border-width: thin;
  border-color:#FCF;
  color: black;
}
.footnote {
  background-color: lightgrey;
  font-size:smaller;
}
span.footnote {font-style:italic}
div.footnote {
  padding: .5em;
  margin: 0 3em;
  border:solid;
  border-width: thin;
  border-color:#FCF;
}
/* les listes*/
ol li, ol.enumerate li { list-style:decimal ;}
ol ol li {list-style: lower-alpha ;}
ol ol ol li {list-style:lower-roman;}
ol ol ol ol li {list-style: upper-alpha;}
ol.itemize li , ul.itemize li {list-style:disc ;}
ol.trivlist li , ol.description li {list-style:none ;}
span.description_item {font-weight:bold;}
div.desc_item {
  background-color: white;
  padding: .5em;
  margin: 0 5%;
  border: solid;
  border-width: thin;
  border-color:#FCF;
  padding-right: .3em;
}
 /*Pour les algorithmes*/
h2.algorithm, h3.algorithm {
 background-color: #FF3333;
 font-size: 100%;
 padding-left: .3em;
 padding-right: .3em;
 }
div.algorithm {
  background-color:#FFFFCC;
  padding: 2%;
  margin: 0 5%;
  border: solid;
  padding-right: 0.3em;
  border-color: #D9D2C0;}
h4.algo_titre {
 background-color: #CF0;
 padding: 1em;
 margin: 0 1em;
 font-size: 100%;
 color: black;
 margin-left: 0;
 text-align: center;
}
table.tabular {background-color:white;
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;}
.tabular_cell {
  background-color:white;
  padding: 0.6em;
  border:solid;
  border-width: 1px;
  text-align:center;
}
.pre {background-color: #FFC;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-color: #D9D2C0;
  border: solid;
  border-width: thin;
  font-weight:bold;
}
div.code {
  background-color : #ff9;
  padding : .3em;
  margin-left: 10%;
  margin-right: 10%;
  border-width : thin;
  color : black;
}
 /*section*/
span.subsubsection {
     color: #A52A2A;
     text-transform: none;
     background-color: #FFC;
}
/* list allexercise*/
div.lw_allexo > itemize li{list-style:none;}

/* When toc is included in wimsdoc */
.wimsdoc>.left_toc{
  margin:0 1em 1em -1em;
}
.wimsdoc>.right_toc{
  float:left;
  margin:0 1em 1em -1em;
}
#docprint .right_toc {visibility:hidden; display:none;}
#docprint .left_toc {visibility:hidden; display:none;}
/* Small screens */
@media only screen and (max-width: 40em) {
  .ui-menu{
    max-width:none;
    width:98%;
  }
  ul.ui-menu.ui-widget.ui-widget-content.ui-front{
    border-color:red;
    left:0!important;
    max-width:80%;
  }
  .wimsdoc{
    margin-right: .5em;
  }
}

#left_toc, #right_toc, .wimsdoc{
  /* includes borders when calculating width */
  box-sizing: border-box;
}

/* Small screens */
@media only screen and (max-width: 40em){
  .wimsdoc { width:100%;}
}

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em){
  .ui-menu{
    max-width:none;
  }
  .doc_latex2wimslr>#right_toc{
    float:left;
  }
 /* #left_toc,#right_toc{ width:25%;}
  .wimsdoc { width:75%;} */
}

/* Medium & large screens */
@media only screen and (min-width: 40.063em) {
  #left_toc{
    float:left;
  }
  /* larger submenus */
  #left_toc ul{
    width:100%;
  }
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
  /* 3 columns */
  .doc_latex2wimslr #left_toc, .doc_latex2wimslr #right_toc{width:15%;}
  /*.doc_latex2wimslr .wimsdoc {width:70%;}*/
  /*.doc_latex2wimsl .wimsdoc {width:75%;}*/
  #right_toc{
    float:right;
  }
}
