/** default css styles for MathML */
.wims_mathfont{
  font-family: Symbol, Times, serif;
  font-size: 14pt;
}

.wims_mathml{
  font-size:1em;
  transition: all 2s;
  /*font-family: Symbol, Times, serif;
  font-style: normal;*/
}
a>.wims_mathml{
  padding:.5em;
  border-style: solid;
  border-width:1px;
  border-color: transparent;
}
a:hover>.wims_mathml{
  border-color: inherit;
}
