/** Extruder Styles **/
#wimsmenumodubox.extruder .extruder-content{
  /*border-left-color : rgba(0, 0, 0, 0.5);
  border-left-width: 2px;*/
  border:none;
  box-shadow: 1px 1px 12px #555;
  overflow-y: auto!important;
}

/*#wimsmenumodubox.extruder .flapLabel{
    background-color: transparent;
}*/

.extruder .flap{cursor: pointer;}

.extruder.isOpened .flap{box-shadow: none;}

.extruder-content>.text{background-color: transparent; border-bottom: none;}

.extruder.right .extruder-content{
  background-image: linear-gradient(to left, rgba(0, 0, 0, .5), transparent);
}
.extruder.left .extruder-content{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5), transparent);
}
.extruder.top .extruder-content{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
  border-bottom:none;
}
.extruder.bottom .extruder-content{
  background-image: linear-gradient(to top, rgba(0, 0, 0, .5), transparent);
}

