!! create a datepicker form with some option (in line) in wims_read_parm
!!line 1 : default value
!!line 2 : name form
!!line 3 : minDate,maxDate (use datepicker format)
!!
!!
!!

!distribute line $wims_read_parm into default_,name_,date_
!distribute item $date_ into mdate_,Mdate_
!set option_=dateFormat:"yymmdd"
!if $mdate_!=$empty
  !set option_=$option_,minDate:$mdate_
!endif
!if $Mdate_!=$empty
  !set option_=$option_,maxDate:$Mdate_
!endif

!set name_=!nospace $name_

!set js_lang=$lang
!if $lang=cn
  !set js_lang=zh-CN
!endif
!if $lang=tw
  !set js_lang=zh-TW
!endif
!if $lang=si
  !set js_lang=sl
!endif
!if $lang=en
  !set js_lang=en-GB
!endif

<script charset="UTF-8" type="text/javascript" src="scripts/js/bower_components/jquery-ui/ui/i18n/datepicker-$js_lang.js"></script>
<script>
 $$( function() {$$( "#$name_" ).datepicker({$option_});});
</script>
<input size="10"  name="$name_" id="$name_" value="$default_" />
