@import "../../domains/general/icons.css";
@import "../../domains/sciences/icons.css";

.menuitem a, .icon_button span, .menuitem h2, .text_icon, .menuitem>.text_item{
  background-repeat:no-repeat;
}

.text_icon{
  display: inline-block;
  background-position:2px 50%;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:2px;
  padding-left:1.5em;
  background-size: 1.2em;
}
.icon_button:hover{
  opacity:.8;
}
.icon_button:active{
  opacity:.5;
}

.menuitem{background-image:none;}
