.menuitem a, .icon_button span, .menuitem h2, .text_icon, .menuitem>.text_item{
  background-repeat:no-repeat;
  min-height:0px;
  padding-left:4px;
  display:inline-block;
}
.footer .menuitem>a, #wimstopbox .menuitem>a{
  line-height:0px;
  background-position:0% 50%;
}
.text_icon{
  line-height:0px;
  background-position:2px 50%;
  border:thin solid #CCC;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:2px;
  padding-left:6px;
}
.menuitem a:hover, .icon_button:hover{
  opacity:.8;
}
.menuitem a:active, .icon_button:active{
  opacity:.5;
}


.menuitem{background-image:none;}
