!!@#language independant
!if robot isin $session
  !exit
!endif
!if $(module_title_$modu_lang)!=
  !set module_title=$(module_title_$modu_lang)
!endif

!header
!if $compute=yes
  !if $error!=$empty
    !if $mtype!=$empty
    <div class="wims_msg alert">
     !read msg.phtml
    </div>
    !endif
    <div class="wims_content">
    !read menu.phtml
    </div>
    !goto end
  !else
    !if $transfert issametext or $transfert=yes
      !set wims_form_method=file
      !read transfert.phtml
    !else
        <div class="wims_content">
      !read menu.phtml
      </div>
    !endif
  !endif
!else
    <div class="wims_content">
  !read menu.phtml
  </div>
!endif compute=yes?

:end

!if $wims_developer!= and $type_exo=
!set wims_menu_items=!append line itemsep,0,\
   to $wims_menu_items
!set u = !linecnt $name
!for i = 1 to $u
  !set cnt=!itemcnt $(name[$i;])
  !for a =1 to $cnt
  !set wims_name_title_quick_$(name[$i;$a])=$(explication[$i;$a])
    !set wims_menu_items=!append line quick_$(name[$i;$a]),1,cmd=reply&type_exo=$(name[$i;$a])\
   to $wims_menu_items
  !next a
!next
!endif

!tail

!reset wims_exec_error wims_deposit
