/** Nikaia widget_boxes style */

.medium_size {
  position: relative;
}

.title_box, .oeftitle, .wims_docu_title,
table.wimstable caption, .wimsbody #wims_title .wims_title {
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px solid #BBB;
  border-radius: 5px 5px 0 0 ;
  border-bottom-width: 0;
  margin: 0;
  padding: 2px 0 7px .5em;
}
table.wimstable caption{
  display:table-caption;
}

.oeftitle, #oef_intro_params .legend, .wims_docu_title, .wimstable caption, .wimsbody #wims_title .wims_title {
  /* Text shadow for light text on dark background */
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .5), 1px 1px 1px rgba(0, 0, 0, .5);
}

.title_box,
.wims_docu_title,
.wimsbody #wims_title .wims_title{
  /* The -5px margin compensate the 5px padding on Nikaia/general.css .wimsbody */
  margin:0 -5px 1em -5px;
}

.title_box h2 {
  font-size: 1.2em;
  margin:5px 0;
}

.title_box h1 {
  font-size: 1.6em;
  margin:6px 0;
}


.title_box .aide_recherche {
  width: inherit;
  text-align: center;
  padding: 0;
  float: right;
  margin: 2px 2px 0 0;
  border-radius: 3px ;
}

.wims_widget_box .box_content input[type="text"]{
  padding: .5rem;
}

.wims_widget_box .box_content .inline{
  margin-left:0;
}

