/* * Nikaia Theme- general.css * */
/* * By Sandra Machefer  * */


/* General */
body {
   margin: 0;
   padding: 0;
   font-family: arial, verdana, helvetica, sans-serif;
   /*font-size: .9em;*/
}

.main_body {
    background-image: url("img/portal-header.png");
    background-position: -300px -70px;
    background-repeat: no-repeat;
}

pre{overflow: auto;}

/*a:hover {text-decoration:none;}*/
a:hover img{opacity:.75;}

.wimsbody {
   background-color: #FFF;
   border-radius: 5px ;
   /*padding: 0 0 1em 0;*/
   padding: 0 5px 1em 5px;
}
#wimsfrontpage .wimsbody{
   background: none;
   max-width: 1024px;
   /*min-width: 510px;*/
   margin: auto;
}

/** Affichage tres contrasté pour des fins de debogage : **/
.debug{
    background-color: black;
    padding:0.5em;
    color:darkorange;
    font-family: monospace;
}
.debug ul{
    font-size: 105%;
}

/* WIMS BOXES */
#wimsbodybox {
  padding-top: 1em;
  margin: 0;
}

/*#wimstailbox {
   margin-top: 5px;
   bottom: 0;
   left: 0;
}*/

.wims_content {
   padding: 0 1em;
}

/*.menuitem a {
   display: inline-block;
   text-decoration: none;
}*/

/*.menuitem>a:hover {text-decoration:underline;}*/
/*.menuglobal .menuitem>a:hover {text-decoration:none;}*/

.wimsmenu {
  /*padding: 2px 4px;
  margin: 0;*/
  font-size: 90%;
}

.wimsmenu .topmenuitem {
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 1px;
   padding-bottom: 1px;
   min-height:2.5em;
}
/*.wimsmenu .menuitem {
   /*display: inline-block;
   _display: inline;
   padding-left: 10px;
   padding-right: 10px;
   /*padding-top: 1px;
   padding-bottom: 1px;
   /*min-height:2.5em;
}*/

.menublock .menuitem {
   display: block;
   _display: inline;
   padding-top: 1px;
   padding-bottom: 1px;
}
.menublock {
   display: inline-block;
   _display: block;
   padding-left: 15px;
   padding-right: 15px;
}
.tailitem {
   font-size: small;
   padding-top: 1px;
   padding-bottom: 1px;
   left:0;
}

/* END OF MODUBOX */


/* WIMS BOXES in special context*/
#wimsexam .wimsbody {
   padding-left: 10%;
   padding-right: 10%;
   margin-left: 0;
}

#wimslightpopup #wimsbodybox #wimspagebox .wimsbody {
   padding-left : 20px;
   padding-right : 20px;
   margin-left : 0;
}
/*#wimslightpopup #wimstailbox .wimstail .tailitem {
   padding-right:20px;
   text-align:right;
   color:#555555;
   font-weight:bold;
   font-size:90%;
}*/

#wimspagebox .wimsdocleftmenu {
   margin-top: 180px;
   padding:0;
   position: fixed;
   /*_position:absolute;*/
   top:50px;
   left: auto;
   text-align:left;
}
#wimspagebox .wimsdocrightmenu {
   margin-top: 180px;
   margin-left: 0;
   margin-right: 0;
   padding:0;
   position: fixed;
   /*_position:absolute;*/
   top:50px;
   right: 20px;
   text-align:left;
}
#wimsmenumodubox .wimstail {
   text-align: left;
   font-size:80%;
   padding:10px;
   margin:10px;
   border-radius : 20px;
}
#wimstailbox {
   text-align: center;
   font-size:80%;
   padding-top: 1em;
}

div.tailsepdoc {display: inline-block;}

#export_media{
  background-color: #FFF;
  color:#000;
  text-align:left;
  margin-top:0;
}

.zone_prof .wimsbody {
  position: relative;
  float: right;
  width: 86%;
  /*clear: both;*/
  min-height: 25em;
  padding-bottom:1em;
  margin:0;
  /*background-color: #f5f5f5;*/
}

#wimsbodybox #wimsmenutab .wimsmenu .menuitem {
   display: inline-block;
   padding: 1px 10px;
   text-decoration: none;
   border: thin black solid;
   border-radius : 20px 20px 0 0;
}
#wimsbodybox #wimsmenutab .wimsmenu .itemsep {
   display: inline-block;
   padding: 5px 30px;
   text-decoration: none;
}
/* end of WIMS BOXES in special context*/


/* warning (sur le mot "Attention" par exemple)*/
.wims_warning{
   color:brown;
   /*font-weight:bold;*/
}
/* warning de type "bloc" */
div.wims_warning{
    padding:.5em 20px
}

/*div.wims_solution {}*/

span.tooltip {color:#A52A2A;}

/* Small screens */
@media only screen and (max-width: 40em) {
  #wimspagebox {
    padding: 0;
    margin: 0;
    float: none;
    width: auto;
  }
   #wimsbodybox {
    padding: 0.5em 0;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Small & medium screens */
@media only screen and (max-width: 64em) {
  .zone_prof .wimsbody {
    float:none;
    width:auto;
  }
  .breadcrumbs li:first-child {
    margin-left : 3em;
  }
}
/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #wimspagebox {
     /*padding: 0.5em;*/
     margin: 0 5px;
     /*min-height:32em;*/
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  #wimspagebox {
    /*padding: 0.5em;*/
    margin: 0 1em;
    min-height:32em;
  }

  .breadcrumbs li:first-child {
    margin-left : 5em;
  }
} /* min-width 1025px, large screens */
