
/*** MENUMODUBOX STYLES **/

  #wimsmenumodubox .text{
    text-shadow:none;
  }

  #wimsmenumodubox ul{
    margin-top:0;
    /*padding-left:1em;*/
  }
  /*#wimsmenumodubox .wimsmenu{
    list-style: none;
    font-size : 100%;
  }*/

  /*#wimsmenumodubox .menuitem{
    margin-bottom:5px;
  }*/

  #wimsmenumodubox .menuitem>a{
    /*min-height:1.1em;*/
    /* icon sizes (dont use "contain", because of 2-lines items) */
   /* background-size: 1.8em;*/
  }
  /* font icon size */
  #wimsmenumodubox .menuitem>a:before{
    font-size: 1.2em;
    vertical-align: -1px;
  }

  #wimsmenumodubox .menu_title{
    margin:.5em 0 0 0;
  }

  #wimsmenumodubox .itemsep{
    display:block;
    /*margin-top:1.5em;
    padding-top: 0.5em;
    font-weight: bold;*/
    border:none;
    border-top: thin white solid;
    padding-top:0.5em;
    margin-top:1em;
  }

  #wimsmenumodubox h2{
    font-size: 1.1em;
  }
