!read adm/title.phtml 2\
Module version

The version of the module must be in the form <span class="tt">d.dd</span>
where the <span class="tt">d</span>'s are the figures. For example, <span class="tt">1.00</span>
or <span class="tt">1.10</span>.
Keep the changing of the figure on the right for minor changes,
the figure in the middle for bigger changes, and the figure on the left
for more significant changes.
